<h3>Detalles de la Institucion</h3>
<p>
  <b>Nombre:</b>
  <%=h @institution.name %>
</p>

<p>
  <b>Domicilio:</b>
  <%=h @institution.address %>
</p>

<p>
  <b>Telefonos:</b>
  <%=h simple_format(@institution.phones) %>
</p>


<p>
  <b>Contacto:</b>
  <%=h @institution.contact %>
</p>

<p>
  <b>Informaci칩n adicional:</b>
  <%=h simple_format(@institution.desc) %>
</p>

<p>
  <b>Tipo de Institucion:</b>
  <%=h institution_type(@institution.institution_type_id) %>
</p>

<p>
  <b>Usuario que registro la instituci칩n:</b>
  <%=h @institution.user.full_name %>
</p>

<p>
  <b>Cantidad m치xima de personas para la visita a instituci칩n:</b>
  <%=h @institution.quantity_team.nil? ? "Sin limite fijado": @institution.quantity_team %>
</p>

<br />
 <%= link_to 'Edit', edit_institution_path(@institution), :class =>'form-edit' %> <%= link_to 'Back', root_path, :class => 'form-back' %>

<br />
<br />
