<h1>Editing economic_situation</h1>

<% form_for(@economic_situation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @economic_situation %> |
<%= link_to 'Back', economic_situations_path %>