<br />
<h3>Actividades seleccionadas a realizar durante el congreso.</h3>

<table  id="product-table">
  <tr>
    <th>Actividad</th>
    <th>Fecha y horario de apoyo.</th>
    <th>Comentario</th>
    <th>Estado</th>
    <th colspan="3">Opciones</th>
  </tr>

<% @user_activities.each do |user_activity| %>
  <tr  class="alternate-row">
    <td><%=h user_activity.activity.name %></td>
    <td><%=l user_activity.date, :format => :long %> de <%=l user_activity.start_hour, :format => :human %> a <%=l user_activity.end_hour, :format => :human %></td>
    <td><%=h simple_format(user_activity.desc) %></td>
    <td><%=h get_status(user_activity.status) %></td>

    <td><%= link_to (image_tag "information.png"), user_activity %><%= link_to "Detalle", user_activity %></td>
    <td><%= link_to (image_tag "icon_edit.gif"), edit_user_activity_path(user_activity) %><%= link_to "Modificar", edit_user_activity_path(user_activity) %></td>
    <td><%= link_to (image_tag "cancel.png"), user_activity, :confirm => '¿No deseas apoyar con esta actividad, seguro que deseas quitarla de tu lista?', :method => :delete %><%= link_to "Quitar de mi lista", user_activity, :confirm => '¿No deseas apoyar con esta actividad, seguro que deseas quitarla de tu lista?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Seleccionar mas actividades', new_user_activity_path %>
