<div style="margin: auto; padding-left:50px; width: 900px;">
<h1>Cambiar Password</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>


 <p>
  <div class="row">
    <div class="cell_left"> Usuario:</div>
    <div class="cell_right"> <%= @user.full_name %></div>
  </div>
</p>

 <p>
  <div class="row">
    <div class="cell_left">Contraseña:</div>
    <div class="cell_right"><%= f.password_field :password %></div>
  </div>
</p>

<p>
  <div class="row">
    <div class="cell_left">Confirmar Contraseña:</div>
    <div class="cell_right"><%= f.password_field :password_confirmation %></div>
  </div>
</p>
<p style="padding-left: 154px;">
  <%= submit_tag 'Aceptar' %> | <%= link_to "Cancelar", users_path %>
  </p>

<% end %>
