<br />
<h3>Listado de instituciones que los usuarios han seleccionado para visitar</h3>

<table id="product-table">
  <tr>
    <th>#</th>
    <th>Institucion</th>
    <th>Direccion</th>
    <th>Telefonos</th>
    <th>Cuadrante</th>
    <th>Maximo personas</th>
  </tr>
<% i = 0 %>
<% @institutions.each do |institution| %>
  <tr class="alternate-row">
    <td><%=h i += 1 %></td>
    <td><%=h institution.name %></td>
    <td><%=h institution.address %></td>
    <td><%=h simple_format(institution.phones) %></td>
    <td><%=h institution.quadrant_id %></td>
    <td><%=h institution.quantity_team %></td>
  </tr>  
  <tr>
<td></td>
<td colspan="4">
<% @users_in_common = UserInstitution.find(:all, :conditions => ['institution_id = ?',institution.id], :order => 'visit_date') %>
<%= @users_in_common.size %> Usuarios solicitaron visitar la institucion.
<table border="1">
<% @users_in_common.each do |user_institution| %>
  <tr>
    <td><%=h l user_institution.visit_date %></td>
    <td><%=h l user_institution.hour_visit, :format => :human %></td>
    <td><%=h user_institution.user.full_name %></td>
    <td><%=h user_institution.user.phone %></td>
    <td><%=h user_institution.user.email %></td>
  </tr>
<% end %>
</table>
</td>
<td></td>


  </tr>


<% end %>
</table>

<br />
