<p>
  <b>Come 3 horas:</b>
  <%=h @visit.come_3_horas %>
</p>

<p>
  <b>Come seno materno:</b>
  <%=h @visit.come_seno_materno %>
</p>

<p>
  <b>Succion deglucion:</b>
  <%=h @visit.succion_deglucion %>
</p>

<p>
  <b>Bano sol:</b>
  <%=h @visit.bano_sol %>
</p>

<p>
  <b>Evacuando:</b>
  <%=h @visit.evacuando %>
</p>

<p>
  <b>Orinando:</b>
  <%=h @visit.orinando %>
</p>

<p>
  <b>Boca arriba:</b>
  <%=h @visit.boca_arriba %>
</p>

<p>
  <b>Baño diario:</b>
  <%=h @visit.baño_diario %>
</p>

<p>
  <b>Lava cordon:</b>
  <%=h @visit.lava_cordon %>
</p>

<p>
  <b>Tamiz neonatal:</b>
  <%=h @visit.tamiz_neonatal %>
</p>

<p>
  <b>Vacuna bcg hepatitis b:</b>
  <%=h @visit.vacuna_bcg_hepatitis_b %>
</p>

<p>
  <b>Amarillo:</b>
  <%=h @visit.amarillo %>
</p>

<p>
  <b>Materno hidratado:</b>
  <%=h @visit.materno_hidratado %>
</p>

<p>
  <b>Materno fiebre:</b>
  <%=h @visit.materno_fiebre %>
</p>

<p>
  <b>Materno despierta llora:</b>
  <%=h @visit.materno_despierta_llora %>
</p>

<p>
  <b>Materno secresion amarilla ojos:</b>
  <%=h @visit.materno_secresion_amarilla_ojos %>
</p>

<p>
  <b>Materno peri umbilical roja:</b>
  <%=h @visit.materno_peri_umbilical_roja %>
</p>

<p>
  <b>Materno peri umbilical secresion:</b>
  <%=h @visit.materno_peri_umbilical_secresion %>
</p>

<p>
  <b>Materno succiona seno:</b>
  <%=h @visit.materno_succiona_seno %>
</p>

<p>
  <b>Cantidad loquios:</b>
  <%=h @visit.cantidad_loquios %>
</p>

<p>
  <b>Mamas inflamadas:</b>
  <%=h @visit.mamas_inflamadas %>
</p>

<p>
  <b>Salida calostro:</b>
  <%=h @visit.salida_calostro %>
</p>

<p>
  <b>Sutura estado:</b>
  <%=h @visit.sutura_estado %>
</p>

<p>
  <b>Madre emocionalmente:</b>
  <%=h @visit.madre_emocionalmente %>
</p>

<p>
  <b>Madre apoyo familiar:</b>
  <%=h @visit.madre_apoyo_familiar %>
</p>

<p>
  <b>Temsion arterial diastolica:</b>
  <%=h @visit.temsion_arterial_diastolica %>
</p>

<p>
  <b>Tension arterial sistolica:</b>
  <%=h @visit.tension_arterial_sistolica %>
</p>

<p>
  <b>Frecuencia cardiaca:</b>
  <%=h @visit.frecuencia_cardiaca %>
</p>

<p>
  <b>Temperatura:</b>
  <%=h @visit.temperatura %>
</p>


<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>