<p>
  <b>Date:</b>
  <%=h @laboratory.date %>
</p>

<p>
  <b>Date next consult:</b>
  <%=h @laboratory.date_next_consult %>
</p>

<p>
  <b>Presumptive diagnosis:</b>
  <%=h @laboratory.presumptive_diagnosis %>
</p>

<p>
  <b>Applicant doctor:</b>
  <%=h @laboratory.applicant_doctor %>
</p>

<p>
  <b>Hemoglobina:</b>
  <%=h @laboratory.hemoglobina %>
</p>

<p>
  <b>Hematocrito:</b>
  <%=h @laboratory.hematocrito %>
</p>

<p>
  <b>Cmhc:</b>
  <%=h @laboratory.cmhc %>
</p>

<p>
  <b>Leucocitos:</b>
  <%=h @laboratory.leucocitos %>
</p>

<p>
  <b>Cuenta diferencial:</b>
  <%=h @laboratory.cuenta_diferencial %>
</p>

<p>
  <b>Linfocitos:</b>
  <%=h @laboratory.linfocitos %>
</p>

<p>
  <b>Monocitos:</b>
  <%=h @laboratory.monocitos %>
</p>

<p>
  <b>Eosinofilos:</b>
  <%=h @laboratory.eosinofilos %>
</p>

<p>
  <b>Basofilos:</b>
  <%=h @laboratory.basofilos %>
</p>

<p>
  <b>Neut segmen:</b>
  <%=h @laboratory.neut_segmen %>
</p>

<p>
  <b>Neut banda:</b>
  <%=h @laboratory.neut_banda %>
</p>

<p>
  <b>Alteraciones:</b>
  <%=h @laboratory.alteraciones %>
</p>

<p>
  <b>Reticulocitos:</b>
  <%=h @laboratory.reticulocitos %>
</p>

<p>
  <b>Plaquetas:</b>
  <%=h @laboratory.plaquetas %>
</p>

<p>
  <b>Sed globular:</b>
  <%=h @laboratory.sed_globular %>
</p>

<p>
  <b>Grupo sanguineo:</b>
  <%=h @laboratory.grupo_sanguineo %>
</p>

<p>
  <b>Factor rh:</b>
  <%=h @laboratory.factor_rh %>
</p>

<p>
  <b>T protrombina:</b>
  <%=h @laboratory.t_protrombina %>
</p>

<p>
  <b>T parcial tromb:</b>
  <%=h @laboratory.t_parcial_tromb %>
</p>

<p>
  <b>Glucosa:</b>
  <%=h @laboratory.glucosa %>
</p>

<p>
  <b>Hb glicosilada:</b>
  <%=h @laboratory.hb_glicosilada %>
</p>

<p>
  <b>Urea:</b>
  <%=h @laboratory.urea %>
</p>

<p>
  <b>Acido urico:</b>
  <%=h @laboratory.acido_urico %>
</p>

<p>
  <b>Creatinina:</b>
  <%=h @laboratory.creatinina %>
</p>

<p>
  <b>Colesterol total:</b>
  <%=h @laboratory.colesterol_total %>
</p>

<p>
  <b>Trigliceridos:</b>
  <%=h @laboratory.trigliceridos %>
</p>

<p>
  <b>Hdl:</b>
  <%=h @laboratory.hdl %>
</p>

<p>
  <b>Ldl:</b>
  <%=h @laboratory.ldl %>
</p>

<p>
  <b>Bilirrubina total:</b>
  <%=h @laboratory.bilirrubina_total %>
</p>

<p>
  <b>Bilirubina directa:</b>
  <%=h @laboratory.bilirubina_directa %>
</p>

<p>
  <b>Bilirrubina indirecta:</b>
  <%=h @laboratory.bilirrubina_indirecta %>
</p>

<p>
  <b>Alat tgp:</b>
  <%=h @laboratory.alat_tgp %>
</p>

<p>
  <b>Asat tgo:</b>
  <%=h @laboratory.asat_tgo %>
</p>

<p>
  <b>F alcalina:</b>
  <%=h @laboratory.f_alcalina %>
</p>

<p>
  <b>Vdrl:</b>
  <%=h @laboratory.vdrl %>
</p>

<p>
  <b>Antiestreptolisinas:</b>
  <%=h @laboratory.antiestreptolisinas %>
</p>

<p>
  <b>Factor reumatoide:</b>
  <%=h @laboratory.factor_reumatoide %>
</p>

<p>
  <b>Proteina c reactiva:</b>
  <%=h @laboratory.proteina_c_reactiva %>
</p>

<p>
  <b>Prueba embarazo:</b>
  <%=h @laboratory.prueba_embarazo %>
</p>

<p>
  <b>Inmunologia otros:</b>
  <%=h @laboratory.inmunologia_otros %>
</p>

<p>
  <b>Coproparasitoscopico1:</b>
  <%=h @laboratory.coproparasitoscopico1 %>
</p>

<p>
  <b>Coproparasitoscopico2:</b>
  <%=h @laboratory.coproparasitoscopico2 %>
</p>

<p>
  <b>Coproparasitoscopico3:</b>
  <%=h @laboratory.coproparasitoscopico3 %>
</p>

<p>
  <b>Fisico quimico:</b>
  <%=h @laboratory.fisico_quimico %>
</p>

<p>
  <b>Color:</b>
  <%=h @laboratory.color %>
</p>

<p>
  <b>Ph:</b>
  <%=h @laboratory.ph %>
</p>

<p>
  <b>Densidad:</b>
  <%=h @laboratory.densidad %>
</p>

<p>
  <b>Glucosa:</b>
  <%=h @laboratory.glucosa %>
</p>

<p>
  <b>Cetona:</b>
  <%=h @laboratory.cetona %>
</p>

<p>
  <b>Proteina:</b>
  <%=h @laboratory.proteina %>
</p>

<p>
  <b>Nitrito:</b>
  <%=h @laboratory.nitrito %>
</p>

<p>
  <b>Bilirrubina:</b>
  <%=h @laboratory.bilirrubina %>
</p>

<p>
  <b>Hemoglobina:</b>
  <%=h @laboratory.hemoglobina %>
</p>

<p>
  <b>Sedimento:</b>
  <%=h @laboratory.sedimento %>
</p>

<p>
  <b>Leucocitos:</b>
  <%=h @laboratory.leucocitos %>
</p>

<p>
  <b>Eritrocitos:</b>
  <%=h @laboratory.eritrocitos %>
</p>

<p>
  <b>Cel epiteliales:</b>
  <%=h @laboratory.cel_epiteliales %>
</p>

<p>
  <b>Bacterias:</b>
  <%=h @laboratory.bacterias %>
</p>

<p>
  <b>Cristales:</b>
  <%=h @laboratory.cristales %>
</p>

<p>
  <b>Cilindros:</b>
  <%=h @laboratory.cilindros %>
</p>

<p>
  <b>Exudado gram:</b>
  <%=h @laboratory.exudado_gram %>
</p>

<p>
  <b>Basiloscopia baar1:</b>
  <%=h @laboratory.basiloscopia_baar1 %>
</p>

<p>
  <b>Basiloscopia baar2:</b>
  <%=h @laboratory.basiloscopia_baar2 %>
</p>

<p>
  <b>Basiloscopia baar3:</b>
  <%=h @laboratory.basiloscopia_baar3 %>
</p>

<p>
  <b>Cultivo:</b>
  <%=h @laboratory.cultivo %>
</p>

<p>
  <b>Microbiologia otros:</b>
  <%=h @laboratory.microbiologia_otros %>
</p>

<p>
  <b>Tolerancia glucosa ayuno:</b>
  <%=h @laboratory.tolerancia_glucosa_ayuno %>
</p>

<p>
  <b>Tolerancia glucosa 1hora:</b>
  <%=h @laboratory.tolerancia_glucosa_1hora %>
</p>

<p>
  <b>Tolerancia glucosa 2horas:</b>
  <%=h @laboratory.tolerancia_glucosa_2horas %>
</p>

<p>
  <b>Tolerancia glucosa observaciones:</b>
  <%=h @laboratory.tolerancia_glucosa_observaciones %>
</p>

<p>
  <b>Num registro:</b>
  <%=h @laboratory.num_registro %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @laboratory.nombre %>
</p>

<p>
  <b>Fecha reporte:</b>
  <%=h @laboratory.fecha_reporte %>
</p>

<p>
  <b>User:</b>
  <%=h @laboratory.user_id %>
</p>

<p>
  <b>Dependency:</b>
  <%=h @laboratory.dependency_id %>
</p>

<p>
  <b>Patient:</b>
  <%=h @laboratory.patient_id %>
</p>


<%= link_to 'Edit', edit_laboratory_path(@laboratory) %> |
<%= link_to 'Back', laboratories_path %>