<p>
  <b>Toxicos quimicos:</b>
  <%=h @risk_factor.toxicos_quimicos %>
</p>

<p>
  <b>Toxico quimicos modif:</b>
  <%=h @risk_factor.toxico_quimicos_modif %>
</p>

<p>
  <b>Trabaja muchas horas:</b>
  <%=h @risk_factor.trabaja_muchas_horas %>
</p>

<p>
  <b>Trabaja muchas horas modif:</b>
  <%=h @risk_factor.trabaja_muchas_horas_modif %>
</p>

<p>
  <b>Parado:</b>
  <%=h @risk_factor.parado %>
</p>

<p>
  <b>Parado modif:</b>
  <%=h @risk_factor.parado_modif %>
</p>

<p>
  <b>Objetos pesados:</b>
  <%=h @risk_factor.objetos_pesados %>
</p>

<p>
  <b>Objetos pesados modif:</b>
  <%=h @risk_factor.objetos_pesados_modif %>
</p>

<p>
  <b>Ruido:</b>
  <%=h @risk_factor.ruido %>
</p>

<p>
  <b>Ruido modif:</b>
  <%=h @risk_factor.ruido_modif %>
</p>

<p>
  <b>Estres:</b>
  <%=h @risk_factor.estres %>
</p>

<p>
  <b>Estres modif:</b>
  <%=h @risk_factor.estres_modif %>
</p>

<p>
  <b>Enfermedades infecciosas:</b>
  <%=h @risk_factor.enfermedades_infecciosas %>
</p>

<p>
  <b>Enfermedades infecciosas modif:</b>
  <%=h @risk_factor.enfermedades_infecciosas_modif %>
</p>

<p>
  <b>Automedica:</b>
  <%=h @risk_factor.automedica %>
</p>

<p>
  <b>Automedica modif:</b>
  <%=h @risk_factor.automedica_modif %>
</p>

<p>
  <b>Automedica cantidad:</b>
  <%=h @risk_factor.automedica_cantidad %>
</p>

<p>
  <b>Fuma:</b>
  <%=h @risk_factor.fuma %>
</p>

<p>
  <b>Fuma modif:</b>
  <%=h @risk_factor.fuma_modif %>
</p>

<p>
  <b>Fuma cantidad:</b>
  <%=h @risk_factor.fuma_cantidad %>
</p>

<p>
  <b>Alcohol:</b>
  <%=h @risk_factor.alcohol %>
</p>

<p>
  <b>Alcohol modif:</b>
  <%=h @risk_factor.alcohol_modif %>
</p>

<p>
  <b>Alcohol cantidad:</b>
  <%=h @risk_factor.alcohol_cantidad %>
</p>

<p>
  <b>Drogas:</b>
  <%=h @risk_factor.drogas %>
</p>

<p>
  <b>Drogas modif:</b>
  <%=h @risk_factor.drogas_modif %>
</p>

<p>
  <b>Drogas cantidad:</b>
  <%=h @risk_factor.drogas_cantidad %>
</p>

<p>
  <b>Nutricion:</b>
  <%=h @risk_factor.nutricion %>
</p>

<p>
  <b>Nutricion modif:</b>
  <%=h @risk_factor.nutricion_modif %>
</p>

<p>
  <b>Patient:</b>
  <%=h @risk_factor.patient_id %>
</p>

<p>
  <b>User:</b>
  <%=h @risk_factor.user_id %>
</p>

<p>
  <b>Dependency:</b>
  <%=h @risk_factor.dependency_id %>
</p>


<%= link_to 'Edit', edit_risk_factor_path(@risk_factor) %> |
<%= link_to 'Back', risk_factors_path %>