<br/>
<h2>Cambiar Contraseña</h2>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <p>
    Usuario: <b><%= @user.full_name %></b>
  </div>
</p>
<br />
 <p>
   Nueva contraseña: <%= f.password_field :password %>
</p>

<p>
   Confirmar nueva contraseña: <%= f.password_field :password_confirmation %>
</p>
<br />
<p>
  <%= submit_tag 'Aceptar', :class =>'form-submit' %> <%= link_to "Cancelar", user_path(@user.id), :class => 'form-reset' %>
</p>
<% end %>
<br />
<br />
<br />
