<h3>Modificando usuario</h3>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>


<p>
Apellido Paterno: <%= f.text_field :surname1 %>
</p>

<p>
Apellido Materno: <%= f.text_field :surname2 %>
</p>

<p>
Nombre: <%= f.text_field :name %>
</p>

<p>
   Celular: <%= f.text_field :phone %>
</p>

<p>
Correo electronico: <%= f.text_field :email %>
</p>

<p>
  Tipo de Usuario: <%=  @user.rol.name %>
</p>
<p>
Maestria: <%= f.select(:master_id, Master.all.collect {|p| [ p.name, p.id ] })%>
</p>
<br />
<p>
  <%= submit_tag 'Aceptar', :class => 'form-submit' %> <%= link_to "Cancelar", user_path(@user.id), :class => 'form-reset' %>
</p>
<% end %>
<br />
<br />
