<div style="margin: auto; padding-left:50px; width: 900px;">
<h1>Administrador de Usuarios</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>


<p>
  <div class="row">
    <div class="cell_left">Apellido Paterno:</div>
    <div class="cell_right"><%= f.text_field :surname1 %></div>
  </div>
</p>

<p>
  <div class="row">
    <div class="cell_left">Apellido Materno:</div>
    <div class="cell_right"><%= f.text_field :surname2 %></div>
  </div>
</p>

<p>
  <div class="row">
    <div class="cell_left">Nombre:</div>
    <div class="cell_right"><%= f.text_field :name %></div>
  </div>
</p>

<p>
 <div class="row">
    <div class="cell_left">Celular:</div>
    <div class="cell_right"><%= f.text_field :phone %></div>
  </div>
</p>

<p>
  <div class="row">
    <div class="cell_left">Correo electronico:</div>
    <div class="cell_right"><%= f.text_field :email %></div>
  </div>
</p>

<p>
  <div class="row">
    <div class="cell_left">Tipo de Usuario:</div>
    <div class="cell_right"><%=  @user.rol.name %></div>
  </div>
</p>
<p>
  <div class="row">
    <div class="cell_left">Maestria:</div>
    <div class="cell_right"><%= f.select(:master_id, Master.all.collect {|p| [ p.name, p.id ] })%></div>
  </div>
</p>

<p style="padding-left: 154px;">
  <%= submit_tag 'Aceptar' %> | <%= link_to "Cancelar", root_path %>
  </p>

<% end %>


</div>
