<!-- start content-outer -->
<div id="content-outer">
<!-- start content -->
<div id="content">
<% form_for(@user) do |form| %>
<%= form.error_messages %>
<div id="page-heading"><h1>Registro de Nuevo Usuario</h1></div>


<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
<tr>
	<th rowspan="3" class="sized"><%= image_tag "./shared/side_shadowleft.jpg", :width => "20", :height => "300" %></th>
        <th class="topleft"></th>
	<td id="tbl-border-top">&nbsp;</td>
	<th class="topright"></th>
	<th rowspan="3" class="sized"><%= image_tag "./shared/side_shadowright.jpg", :width => "20", :height => "300" %></th>
</tr>
<tr>
	<td id="tbl-border-left"></td>
	<td>
	<!--  start content-table-inner -->
	<div id="content-table-inner">
	
	<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr valign="top">
	<td>
	
		<!-- start id-form -->
		<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
		<tr>
                      <th valign="top"><%= form.label :Usuario %></th>
                      <td><%= form.text_field :login %></td>
                </tr>
		<tr>
                      <th valign="top"><%= form.label :Contraseña, form.object.new_record? ? nil : "Cambiar Contraseña" %></th>
                      <td><%= form.password_field :password %></td>
                </tr>
		<tr>
                      <th valign="top"><%= form.label :"Confirmar Contraseña" %></th>
                      <td><%= form.password_field :password_confirmation %></td>
                </tr>

		<tr>
                      <th valign="top"><%= form.label :"Tipo de rol" %></th>
                      <td><%= form.select(:rol_id, Rol.all.collect {|p| [ p.name, p.id ] })%></td>
                </tr>


		<tr>
                      <th valign="top"><h3>Datos Generales</h3></th>
                </tr>
		<tr>
                      <th valign="top"><%= form.label :'Nombre' %></th>
                      <td><%= form.text_field :name %></td>
                </tr>
		<tr>
                      <th valign="top"><%= form.label :'Apellido paterno' %></th>
                      <td><%= form.text_field :surname1 %></td>
                </tr>
		<tr>
                      <th valign="top"><%= form.label :'Apellido materno' %></th>
                      <td><%= form.text_field :surname2 %></td>
                </tr>

	        <tr>
                      <th valign="top"><%= form.label :"Maestria" %></th>
                      <td><%= form.select(:master_id, Master.all.collect {|p| [ p.name, p.id ] })%></td>
                </tr>



		<tr>
                      <th valign="top"><%= form.label :'Correo' %></th>
                      <td><%= form.text_field :email %></td>
                </tr>

	        <tr>
		<th>&nbsp;</th>
		<td valign="top">
			<%= form.submit 'Registrar', :class => 'form-submit' %>
			<%= link_to 'Regresar', root_path, :class => 'form-reset' %>
		</td>
		<td></td>
	</tr>
		    

	        </table>
	        <!-- end id-form  -->
	</td>
	<td>
	
	
</td>
</tr>
<tr>
<td><%= image_tag "./shared/blank.gif", :width => "695", :height =>"1" %></td>
<td></td>
</tr>
</table>
 
<div class="clear"></div>
 

</div>
<!--  end content-table-inner  -->
</td>
<td id="tbl-border-right"></td>
</tr>
<tr>
	<th class="sized bottomleft"></th>
	<td id="tbl-border-bottom">&nbsp;</td>
	<th class="sized bottomright"></th>
</tr>
</table>


<div class="clear">&nbsp;</div>
</div>

<!--  end content -->
<div class="clear">&nbsp;</div>
</div>
<!--  end content-outer -->

<% end %>



