<div id="content-outer">
<div id="content">


<div id="page-heading"><h1>INFORMACION DEL USUARIO</h1></div>


<p>
  <h1>
  <p style="color: blue"><%= flash[:notice] %></p>
  </h1>
  <b>Usuario:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Nombre</b>
  <%=h @user.full_name %>
</p>

<p>
  <b>Celular:</b>
  <%=h @user.phone %>
</p>

<p>
  <b>Correo electronico:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Maestria:</b>
  <%=h @user.master.name %>
</p>

<p>
  <b>Rol:</b>
  <%=h @user.rol.name %>
</p>
<br />
<p>
<%= link_to 'Modificar', edit_user_path(@user.id), :class =>'form-edit' %> <%= link_to 'Regresar', root_path, :class => 'form-reset' %>
</p>

<br />
<p><b><%= link_to 'Cambiar Contraseña',  :controller => "users", :action => "change_password", :id => @user.id %></b>
</p>
