- remote_form_for @ultra_sound, :url => {:action => :create }, :before => "$('.creating').show();", :complete => "$('.creating').hide();" do |f|
  - if !f.error_messages.empty?
    .validation
      = f.error_messages
  %table
    %tr
      %td
      %td Indice de Pulsatilidad
      %td Notch
      %td Onda A
    %hr
    %tr
      %td
        Arteria Uterina Derecha IP
      %td
        = f.text_field :ArteriaUterinaDerecha, :size => 20
      %td{:colspan => "2"}
        = select( "ultra_sound", "nutch_AUD", { "+" => "+", "-" => "-"}, {:include_blank => true})
    %tr
      %td
        Arteria Uterina Izquierda IP
      %td
        = f.text_field :ArteriaUterinaIzquierda, :size => 20
      %td{:colspan => "2"}
        = select( "ultra_sound", "nutch_AUI", { "+" => "+", "-" => "-"}, {:include_blank => true})
    %tr
      %td
        Arteria Umbilical IP
      %td{:colspan => "3"}
        = select("ultra_sound", "ArteriaUmbilical", {"ausente" => "asuente", "reverso" => "reverso", "presente" => "presente"}, {:include_blank => true}) 
    %tr
      %td
        Ducto Venoso IP
      %td{:colspan => "3"}
        = select("ultra_sound", "DuctoVenoso", {"ausente" => "asuente", "reverso" => "reverso", "presente" => "presente"}, {:include_blank => true})
    %tr
      %td
      %td
        Medida
      %td{:colspan => "2"}
        Semanas de Gestación
    %tr
      %td
        Diámetro biparietal
      %td
        = f.text_field :DiametroBiparietal, :size => 20 
        mm
      %td{:colspan => "2"}
        = f.text_field :DiametroBiparietal_Semanas_Gestacion, :size => 20
    %tr
      %td
        Circunferencia Cefálica
      %td
        = f.text_field :CircunferenciaCefalica, :size => 20
        mm
      %td{:colspan => "2"}
        = f.text_field :CircunferenciaCefalica_Semanas_Gestacion, :size => 20
    %tr
      %td
        Circunferencia Abdominal
      %td
        = f.text_field :CircunferenciaAbdominal, :size => 20
        mm
      %td{:colspan => "2"}
        = f.text_field :CircunferenciaAbdominal_Semana_Gestacion, :size => 20
    %tr
      %td
        Longitud del Femur
      %td
        = f.text_field :LongitudFemur, :size => 20
        mm
      %td{:colspan => "2"}
        = f.text_field :LongitudFemur_Semanas_Gestacion, :size => 20
    %tr
      %td
        Longitud cervical
      %td
        = f.text_field :LongitudCervical, :size => 20
      %td{:colspan => "2"}
        = f.text_field :LongitudCervical_Semanas_Gestacion, :size => 20
    %tr
      %td
        TN
      %td
        = f.text_field :TN, :size => 20
      %td{:colspan => "2"}
        = f.text_field :TN_Semanas_Gestacion, :size => 20
    %tr
      %td
        Hueso Nasal
      %td
        = f.text_field :HN, :size => 20
        mm
    %tr
      %td
        Cervix
      %td{:colspan => "3"}
        = f.text_field :Cervix, :size => 20
        mm
    %tr
      %td
        Placenta
      %td{:colspan => "3"}
        = f.text_field :Placenta, :size => 20
    %tr
      %td
        = f.label "Vena Umbilical"
      %td{:colspan => "3"}
        = f.text_field :VenaUmbilical, :size => 20
    %tr
      %td
        = f.label "Diámetro vena umbilical"
      %td{:colspan => "3"}
        = f.text_field :DiametroVenaUmbilical, :size => 20
    %tr
      %td
        TEI izquierdo
      %td{:colspan => "3"}
        = f.text_field :TeiIzquierdo, :size => 20
    %tr
      %td
        TEI derecho
      %td{:colspan => "3"}
        = f.text_field :TeiDerecho, :size => 20
    %tr
      %td
        IFI
      %td{:colspan => "3"}
        = f.text_field :IFI, :size => 20
    %tr
      %td
        ACM
      %td{:colspan => "3"}
        = f.text_field :ACM, :size => 20
    %tr
      %td
        = f.label "Posición de la Placenta"
      %td{:colspan => "3"}
        = f.text_field :PosicionPlacenta, :size => 20
    %tr
      %td
        ILA
      %td{:colspan => "3"}
        = f.text_field :ILA, :size => 20
  %p
    = f.hidden_field :user_id, :value => current_user.id
    = f.hidden_field :dependency_id, :value => current_user.dependency_id
    = f.hidden_field :patient_id, :value => @ultra_sound.patient_id
  .guardar
    = f.submit 'Guardar'
  .creating{:style => "display:none;"}Guardando, por favor espere
