<p>
  <%= link_to_remote "Regresar", :update => "workspace", :url => {
  :controller => "patients", :action => "show", :id =>
  "#{@ultra_sound.patient_id}"}, :method => :get, :layout => false %>
</p>
<p>
  <b>Diametrobiparietal:</b>
  <%=h @ultra_sound.DiametroBiparietal %>
</p>

<p>
  <b>Circunferenciacefalica:</b>
  <%=h @ultra_sound.CircunferenciaCefalica %>
</p>

<p>
  <b>Circunferenciaabdominal:</b>
  <%=h @ultra_sound.CircunferenciaAbdominal %>
</p>

<p>
  <b>Longitudfemur:</b>
  <%=h @ultra_sound.LongitudFemur %>
</p>

<p>
  <b>Humero:</b>
  <%=h @ultra_sound.humero %>
</p>

<p>
  <b>Radio:</b>
  <%=h @ultra_sound.radio %>
</p>

<p>
  <b>Cubito:</b>
  <%=h @ultra_sound.cubito %>
</p>

<p>
  <b>Tibia:</b>
  <%=h @ultra_sound.tibia %>
</p>

<p>
  <b>Perone:</b>
  <%=h @ultra_sound.perone %>
</p>

<p>
  <b>Fetometriapromedio:</b>
  <%=h @ultra_sound.FetometriaPromedio %>
</p>

<p>
  <b>Pesofetalestimado:</b>
  <%=h @ultra_sound.PesoFetalEstimado %>
</p>

<p>
  <b>Percentila:</b>
  <%=h @ultra_sound.percentila %>
</p>

<p>
  <b>Arteriauterinaderecha:</b>
  <%=h @ultra_sound.ArteriaUterinaDerecha %>
</p>

<p>
  <b>Arteriauterinaizquierda:</b>
  <%=h @ultra_sound.ArteriaUterinaIzquierda %>
</p>

<p>
  <b>Arteriaumbilical:</b>
  <%=h @ultra_sound.ArteriaUmbilical %>
</p>

<p>
  <b>Venaumbilical:</b>
  <%=h @ultra_sound.VenaUmbilical %>
</p>

<p>
  <b>Diametrovenaumbilical:</b>
  <%=h @ultra_sound.DiametroVenaUmbilical %>
</p>

<p>
  <b>Ductovenoso:</b>
  <%=h @ultra_sound.DuctoVenoso %>
</p>

<p>
  <b>Teiizquierdo:</b>
  <%=h @ultra_sound.TeiIzquierdo %>
</p>

<p>
  <b>Teiderecho:</b>
  <%=h @ultra_sound.TeiDerecho %>
</p>

<p>
  <b>Ifi:</b>
  <%=h @ultra_sound.IFI %>
</p>

<p>
  <b>Acm:</b>
  <%=h @ultra_sound.ACM %>
</p>

<p>
  <b>Longitudcervical:</b>
  <%=h @ultra_sound.LongitudCervical %>
</p>

<p>
  <b>Posicionplacenta:</b>
  <%=h @ultra_sound.PosicionPlacenta %>
</p>

<p>
  <b>Ila:</b>
  <%=h @ultra_sound.ILA %>
</p>

