<h1>Listing ultra_sounds</h1>

<table>
  <tr>
    <th>Diametrobiparietal</th>
    <th>Circunferenciacefalica</th>
    <th>Circunferenciaabdominal</th>
    <th>Longitudfemur</th>
    <th>Humero</th>
    <th>Radio</th>
    <th>Cubito</th>
    <th>Tibia</th>
    <th>Perone</th>
    <th>Fetometriapromedio</th>
    <th>Pesofetalestimado</th>
    <th>Percentila</th>
    <th>Arteriauterinaderecha</th>
    <th>Arteriauterinaizquierda</th>
    <th>Arteriaumbilical</th>
    <th>Venaumbilical</th>
    <th>Diametrovenaumbilical</th>
    <th>Ductovenoso</th>
    <th>Teiizquierdo</th>
    <th>Teiderecho</th>
    <th>Ifi</th>
    <th>Acm</th>
    <th>Longitudcervical</th>
    <th>Posicionplacenta</th>
    <th>Ila</th>
  </tr>

<% @ultra_sounds.each do |ultra_sound| %>
  <tr>
    <td><%=h ultra_sound.DiametroBiparietal %></td>
    <td><%=h ultra_sound.CircunferenciaCefalica %></td>
    <td><%=h ultra_sound.CircunferenciaAbdominal %></td>
    <td><%=h ultra_sound.LongitudFemur %></td>
    <td><%=h ultra_sound.humero %></td>
    <td><%=h ultra_sound.radio %></td>
    <td><%=h ultra_sound.cubito %></td>
    <td><%=h ultra_sound.tibia %></td>
    <td><%=h ultra_sound.perone %></td>
    <td><%=h ultra_sound.FetometriaPromedio %></td>
    <td><%=h ultra_sound.PesoFetalEstimado %></td>
    <td><%=h ultra_sound.percentila %></td>
    <td><%=h ultra_sound.ArteriaUterinaDerecha %></td>
    <td><%=h ultra_sound.ArteriaUterinaIzquierda %></td>
    <td><%=h ultra_sound.ArteriaUmbilical %></td>
    <td><%=h ultra_sound.VenaUmbilical %></td>
    <td><%=h ultra_sound.DiametroVenaUmbilical %></td>
    <td><%=h ultra_sound.DuctoVenoso %></td>
    <td><%=h ultra_sound.TeiIzquierdo %></td>
    <td><%=h ultra_sound.TeiDerecho %></td>
    <td><%=h ultra_sound.IFI %></td>
    <td><%=h ultra_sound.ACM %></td>
    <td><%=h ultra_sound.LongitudCervical %></td>
    <td><%=h ultra_sound.PosicionPlacenta %></td>
    <td><%=h ultra_sound.ILA %></td>
    <td><%= link_to 'Show', ultra_sound %></td>
    <td><%= link_to 'Edit', edit_ultra_sound_path(ultra_sound) %></td>
    <td><%= link_to 'Destroy', ultra_sound, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ultra_sound', new_ultra_sound_path %>