<h1>Editing ultra2_sound</h1>

<% form_for(@ultra2_sound) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :DiametroBiparietal %><br />
    <%= f.text_field :DiametroBiparietal %>
  </p>
  <p>
    <%= f.label :CircunferenciaCefalica %><br />
    <%= f.text_field :CircunferenciaCefalica %>
  </p>
  <p>
    <%= f.label :CircunferenciaAbdominal %><br />
    <%= f.text_field :CircunferenciaAbdominal %>
  </p>
  <p>
    <%= f.label :LongitudFemur %><br />
    <%= f.text_field :LongitudFemur %>
  </p>
  <p>
    <%= f.label :humero %><br />
    <%= f.text_field :humero %>
  </p>
  <p>
    <%= f.label :radio %><br />
    <%= f.text_field :radio %>
  </p>
  <p>
    <%= f.label :cubito %><br />
    <%= f.text_field :cubito %>
  </p>
  <p>
    <%= f.label :tibia %><br />
    <%= f.text_field :tibia %>
  </p>
  <p>
    <%= f.label :perone %><br />
    <%= f.text_field :perone %>
  </p>
  <p>
    <%= f.label :FetometriaPromedio %><br />
    <%= f.text_field :FetometriaPromedio %>
  </p>
  <p>
    <%= f.label :PesoFetalEstimado %><br />
    <%= f.text_field :PesoFetalEstimado %>
  </p>
  <p>
    <%= f.label :percentila %><br />
    <%= f.text_field :percentila %>
  </p>
  <p>
    <%= f.label :ArteriaUterinaDerecha %><br />
    <%= f.text_field :ArteriaUterinaDerecha %>
  </p>
  <p>
    <%= f.label :ArteriaUterinaIzquierda %><br />
    <%= f.text_field :ArteriaUterinaIzquierda %>
  </p>
  <p>
    <%= f.label :ArteriaUmbilical %><br />
    <%= f.text_field :ArteriaUmbilical %>
  </p>
  <p>
    <%= f.label :VenaUmbilical %><br />
    <%= f.text_field :VenaUmbilical %>
  </p>
  <p>
    <%= f.label :DiametroVenaUmbilical %><br />
    <%= f.text_field :DiametroVenaUmbilical %>
  </p>
  <p>
    <%= f.label :DuctoVenoso %><br />
    <%= f.text_field :DuctoVenoso %>
  </p>
  <p>
    <%= f.label :TeiIzquierdo %><br />
    <%= f.text_field :TeiIzquierdo %>
  </p>
  <p>
    <%= f.label :TeiDerecho %><br />
    <%= f.text_field :TeiDerecho %>
  </p>
  <p>
    <%= f.label :IFI %><br />
    <%= f.text_field :IFI %>
  </p>
  <p>
    <%= f.label :ACM %><br />
    <%= f.text_field :ACM %>
  </p>
  <p>
    <%= f.label :LongitudCervical %><br />
    <%= f.text_field :LongitudCervical %>
  </p>
  <p>
    <%= f.label :PosicionPlacenta %><br />
    <%= f.text_field :PosicionPlacenta %>
  </p>
  <p>
    <%= f.label :ILA %><br />
    <%= f.text_field :ILA %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ultra2_sound %> |
<%= link_to 'Back', ultra2_sounds_path %>