<h3>Modficar datos de la visita</h3>

<% form_for(@user_institution) do |f| %>
  <%= f.error_messages %>


    <%= f.hidden_field :user_id, :value => current_user.id %>
    <p><b>Institutcion: </b><%= @user_institution.institution.name %></p>

  <p>
    <b>Fecha y hora de la visita:</b> <%= f.date_select :visit_date %>  Hora:   <%= f.time_select :hour_visit %>
  </p>
<p>
Modalidad:  
<br /><%= f.radio_button :team, true %> En equipo:
<br /> <%= f.radio_button :team, false %> Solo

  <p>
    <b>Estado:</b> 
    <br /><%= f.radio_button :status, 1 %> Solicitada
    <br /> <%= f.radio_button :status, 2 %> Realizada
  </p>
<br />
  <p>
    <%= f.submit 'Update', :class => 'form-submit' %><%= link_to 'Back', user_institutions_path, :class => 'form-reset' %>
  </p>
<% end %>
<br />
<br />
<br />
