<h1>Listing user_institutions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Institution</th>
    <th>Date</th>
    <th>Visit date</th>
    <th>Hour visit</th>
    <th>Team</th>
    <th>Status</th>
  </tr>

<% @user_institutions.each do |user_institution| %>
  <tr>
    <td><%=h user_institution.user_id %></td>
    <td><%=h user_institution.institution_id %></td>
    <td><%=h user_institution.date %></td>
    <td><%=h user_institution.visit_date %></td>
    <td><%=h user_institution.hour_visit %></td>
    <td><%=h user_institution.team %></td>
    <td><%=h user_institution.status %></td>
    <td><%= link_to 'Show', user_institution %></td>
    <td><%= link_to 'Edit', edit_user_institution_path(user_institution) %></td>
    <td><%= link_to 'Destroy', user_institution, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user_institution', new_user_institution_path %>