<br />
<h3>Seleccion de instituciones a visitar</h3>
<br />

<% form_for(@user_institution) do |f| %>
  <%= f.error_messages %>

  <br />
  <table id="product-table">
  <tr>
    <th>✔</th>
    <th>Institucion </th>
    <th>Domicilio </th>
    <th>Visita </th>
    <th colspan="2">Fecha y hora en que planea visitar </th>
  </tr>
  <% Institution.find(:all, :order => 'institution_type_id, name').each do |institution| %>

  <tr>
    <td>
      <% @UsersSelected = UserInstitution.find_all_by_institution_id(institution.id) %>
      <% @UsersCompleted = UserInstitution.find_all_by_institution_id_and_status(institution.id,2) %>

      <% if !institution.quantity_team.nil? %>
        <% if UserInstitution.find_all_by_institution_id(institution.id).size < institution.quantity_team %>
        <% if @UsersCompleted.size < 1 %> 
        <%=  check_box_tag "institution[#{institution.id}]",institution.id %>
      <% else %>
        completa <br />
        <%= @UsersCompleted.size %> de <%= @UsersSelected.size %> ya fueron.
      <% end %>
        <br />
         <%= @UsersSelected.size %> solicitudes<br />
         <%= @UsersCompleted.size %> completas

      <% else %>
        <% if @UsersCompleted.size < 1 %> 
        Saturada.<br />
         <%= @UsersSelected.size %> solicitudes<br />
         <%= @UsersCompleted.size %> completas
      <% else %>
        completa <br />
        <%= @UsersCompleted.size %> de <%= @UsersSelected.size %> ya fueron.
  <% end %>
      <% end %>

    <% else %>
  <% if @UsersCompleted.size < 1 %> 
      <%=  check_box_tag "institution[#{institution.id}]",institution.id %>
      <br />
         <%= @UsersSelected.size %> solicitudes<br />
         <%= @UsersCompleted.size %> completas
      <% else %>
        completa <br />
        <%= @UsersCompleted.size %> de <%= @UsersSelected.size %> ya fueron.
<% end %>
  <% end %>

</td>
    <td>
      <%= link_to institution.name, institution_path(institution.id) %>
    </td>
    <td>
      <%= institution.address %>
    </td>
    
    <td>  
      <%= radio_button_tag "team[#{institution.id}]", true, :cheked => true %> En equipo:
      <br /> <%= radio_button_tag "team[#{institution.id}]", false %> Solo
    </td>

    <td>
        <% opciones = [] %>
        <% for i in 1..14 do opciones << "<option>#{i}</option>" end %>
        <%= select_tag "visit_date[#{institution.id}]", opciones.to_s %> de Noviembre de 2011
        <br />
    </td>

    <td>
        <% horas = [] %>
        <% for i in 9..21 do horas << "<option>#{i}</option>" end %>
        <%= select_tag "hour_visit[#{institution.id}]", horas.to_s %>:<%= select_tag "minute_visit[#{institution.id}]", "<option>00</option><option>15</option><option>30</option><option>45</option>" %>
        <br />
    </td>

  </tr>
  <% end %>
  <table>
  <p>
    <%= f.submit 'Create', :class => 'form-submit' %> <%= link_to 'Back', root_path, :class => 'form-reset' %>
  </p>
<% end %>



<br />
<br />
