<br />
<h3>Seleccion de instituciones a visitar</h3>

<% form_for(@user_institution) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id, :value => current_user.id %>
  </p>
      <%= f.date_select :date %>

  <br />
  <table id="product-table">
  <tr>
    <th>✔</th>
    <th>Institucion </th>
    <th>Domicilio </th>
    <th>Visita </th>
    <th colspan="2">Fecha y hora en que planea visitar </th>
  </tr>
  <% Institution.all.each do |institution| %>

  <tr>
    <td>
      <%=  check_box_tag "institution[#{institution.id}]", institution.id %>
    </td>
    <td>
      <%= institution.name %>
    </td>
    <td>
      <%= institution.address %>
    </td>
    
    <td>  
      <%= f.radio_button(:team, true) %> En equipo:
      <br /> <%= f.radio_button(:team, false) %> Solo
    </td>

    <td>
      <%= f.date_select :visit_date, :start_year => 2011, :end_year => 2011 %>
    </td>

    <td>
      <%= f.time_select :hour_visit, :minute_step => 15  %>
    </td>

  </tr>
  <% end %>
  <table>


  <p>
    <%= f.hidden_field :status, :value => 1 %>
  </p>
  <p>
    <%= f.submit 'Create', :class => 'form-submit' %> <%= link_to 'Back', root_path, :class => 'form-reset' %>
  </p>
<% end %>



<br />
<br />
