<p>
  <b>Institucion:</b>
  <%=h @user_institution.institution.name %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @user_institution.institution.address %>
</p>

<p>
  <b>Contacto:</b>
  <%=h @user_institution.institution.contact %>
</p>

<p>
  <b>Telefonos:</b>
  <%=h simple_format(@user_institution.institution.phones) %>
</p>

<p>
  <b>Detalles:</b>
  <%=h simple_format(@user_institution.institution.desc) %>
</p>

<p>
  <b>Fecha y hora de visita:</b>
  <%=l @user_institution.visit_date, :format => :long %> a las <%=l @user_institution.hour_visit, :format => :human %>
</p>

<p>
  <b>Modalidad de la vista:</b>
  <%=h get_team(@user_institution.team) %>
</p>

<p>
  <b>Estado:</b>
  <%=h get_status(@user_institution.status) %>
</p>


<%= link_to 'Edit', edit_user_institution_path(@user_institution) %> |
<%= link_to 'Back', user_institutions_path %>
