<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Sistema de logistica - Congreso MASS</title>

    <%= javascript_include_tag :defaults %>

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'screen' %>
  </head>

  <body>
    <div class="header">
      <div class="header_left">
        <%= image_tag('../images/encabezado.jpg', :size => '500x70') %>
      </div>
      <div class="header_right">

        <b>Usuario:</b>
        <%=h current_user.full_name %> | 
        <%= link_to 'Mi Cuenta ', user_path(current_user.id) %> | <%= link_to "Salir", logout_path, :confirm => "Esta seguro que quiere salir?" %>
        <p>
<%= link_to "VideoTutorial", "http://vimeo.com/31360583", :popup => true %> | <%=l Time.now.to_date, :format => :customize %>
        </p>

      <p style="color: green"><%= flash[:notice] %></p>
    </div>
  </div>

    <div>
      <ul class="menu">
        <% if current_user.rol_id == 1 %>
        <li class="top"> <li class="top"><a href="" target="_self" class="top_link"><span>Usuarios</span></a>
          <ul class="sub">
            <li>            
                <%= link_to "Usuarios", users_path %>
            </li>
            <li><%= link_to "Alta", new_user_path %></li>
          </ul>
        </li>
        <% end %>
        <li class="top"> <li class="top"><a href="" target="_self" class="top_link"><span>Instituciones</span></a>
          <ul class="sub">
            <li>            
                <%= link_to "Seleccionar Instituciones a visitar", new_user_institution_path %>
            </li>
            <li>            
                <%= link_to "Mis visitas", user_institutions_path %>
            </li>
            <li><%= link_to "Agregar nueva institución", new_institution_path %></li>
          </ul>
        </li>
        <li class="top"> <li class="top"><a href="" target="_self" class="top_link"><span>Documentos</span></a>
          <ul class="sub">
            <li>            
                <%= link_to "Oficio para colocar publicidad", "carta_publicidad.pdf" %>
            </li>

            <li>            
                <%= link_to "Manual de Stands", "MANUAL_EXP_CONGRESO.pdf" %>
            </li>
            <li>            
                <%= link_to "Poster Congreso", "poster_congreso.jpg", :popup => true %>
            </li>
            <li>            
                <%= link_to "Cartel 1 Congreso", "cartel_1_mass.jpg", :popup => true %>
            </li>
            <li>            
                <%= link_to "Cartel 2 Congreso", "cartel_2_mass.jpg", :popup => true %>
            </li>
            <li>            
                <%= link_to "Triptico Congreso (Exterior)", "triptico_congreso_ext.jpg", :popup => true %>
            </li>
            <li>            
                <%= link_to "Triptico Congreso (Interior)", "triptico_congreso_int.jpg", :popup => true %>
            </li>

          </ul>
        </li>
        <% if current_user.rol_id == 1 %>
        <li class="top"> <li class="top"><a href="" target="_self" class="top_link"><span>Reportes</span></a>
          <ul class="sub">
            <li>            
                <%= link_to "Solicitudes x institucion", visits_path %>
            </li>
            <li>            
               <%= link_to "Actividad de usuarios", download_report1_visits_path %>
            </li>
            <li>            
               <%= link_to "Instituciones sin solicitudes", download_report2_visits_path %>
            </li>
            <li>            
               <%= link_to "Instituciones con solicitudes", download_report3_visits_path %>
            </li>
            <li>            
               <%= link_to "Instituciones visitadas", download_report4_visits_path %>
            </li>
          </ul>
        </li>
        <% end %>
        <li class="top"> <li class="top"><a href="" target="_self" class="top_link"><span>Mensajes (<%= Comment.all.size%>)</span></a>
          <ul class="sub">
            <li>            
                <%= link_to "Comentarios", comments_path %>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  <div>
    <%= yield %>
  </div>
  <div id="footer">
    <div id="footer-left">
      Congreso MASS - FCA
      UNAM. 2011 <a href="">http://www.fca.unam.mx/congresomass/</a>  Derechos Reservados.---- dudas y comentarios alexs1010@gmail.com</div>
    <div class="clear">&nbsp;</div>
  </div>
</body>
</html>
